*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:white;
    overflow:hidden;
}

body{
    animation:fadeIn 1.2s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(.98);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}

.container{
    width:1200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.login-card{
    width:370px;
    background:white;
    border-radius:12px;
    padding:45px;
    box-shadow:
    0 15px 35px rgba(0,0,0,.18);
    transition:.4s;
}

.login-card:hover{
    transform:translateY(-5px);
    box-shadow:
    0 25px 40px rgba(0,0,0,.2);
}

.login-card h1{
    font-size:34px;
    font-weight:700;
    color:#222;
}

.login-card p{
    margin:5px 0 35px;
    color:#666;
}

.input-group{
    position: relative;
    margin-bottom: 25px;
}

.input-group input{
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    background: #efefef;
    border-radius: 8px;
    padding-left: 45px;   
    padding-right: 50px;  
    font-size: 15px;
    transition: .3s;
}

.input-group input:focus{
    background: #fff;
    border: 2px solid royalblue;
    box-shadow: 0 0 12px rgba(65,105,225,.25);
}

.input-group > i:first-child{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    font-size: 16px;
}

#togglePassword{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#togglePassword:hover{
    color: royalblue;
}

button{
    width:100%;
    height:50px;
    border:none;
    border-radius:8px;
    background:#3556c5;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2744aa;
    transform:translateY(-2px);
    box-shadow:
    0 8px 18px rgba(53,86,197,.35);
}

button i{
    margin-right:8px;
}

.toggle-btn{
    position:absolute;
    top:50%;
    right:15px;
    transform:translateY(-50%);
    background:none;
    border:none;
    color:#777;
    cursor:pointer;
    width:auto;
    height:auto;
    padding:0;
    box-shadow:none;
}

.toggle-btn:hover{
    background:none;
    transform:translateY(-50%);
    color:royalblue;
    box-shadow:none;
}

.login-card a{

    display:block;

    text-align:center;

    margin-top:20px;

    color:#4778ff;

    text-decoration:none;

    transition:.3s;
}

.login-card a:hover{
    color:#2744aa;
}

.right-content{
    text-align:center;
    animation:slideRight 1s ease;
}

.right-content img{
    width:360px;
}

.right-content h2{
    margin-top:20px;
    font-size:27px;
    line-height:1.35;
    font-weight:800;
}

@keyframes slideRight{
    from{
        opacity:0;
        transform:translateX(100px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}